language: php

sudo: false

cache:
  directories:
    - .autoconf
    - $HOME/.composer

branches:
  only:
    - master

addons:
  postgresql: "9.6"

services:
  - mysql
  - postgresql

matrix:
  include:
    - php: 7.1
      env: DATABASE="postgresql" ORO_PLATFORM="2.3.12"
    - php: 7.1
      env: DATABASE="postgresql" ORO_PLATFORM="2.6.13"
    - php: 7.1
      env: DATABASE="mysql" ORO_PLATFORM="2.6.13"
    - php: 7.1.17
      env: DATABASE="postgresql" ORO_PLATFORM="3.0.0-rc"

before_install:
    - phpenv config-rm xdebug.ini || echo "xdebug not available"
    - composer
    - bash tests/run.sh before_install

install:
    - bash tests/run.sh install

before_script:
    - bash tests/run.sh before_script

script:
    - |
      if [ -f tests/platform/app/console ]; then
          cp tests/phpunit.xml.legacy tests/platform/phpunit.xml
      else
          cp tests/phpunit.xml.dist tests/platform/phpunit.xml
      fi
    - cd tests/platform
    - cat phpunit.xml
    - php bin/phpunit --testsuite=functional
