{% import 'OroUIBundle::macros.html.twig' as ui %}

<div class="widget-content">
    <div class="row-fluid form-horizontal contact-info">
        <div
                data-page-component-module="okvpnmqinsight/queued-view"
        >

            <div class="mq-widget" style="padding: 10px; font-size: 1.3em; float: right"></div>
            <div class="mq-queued"></div>
        </div>
    </div>
</div>
